<ul class="main-menu">
    <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="menu-icon lnr lnr-home"></span>
                <span class="link-text">Home</span>
            </NavLink>
    </li>
    <li>
            <NavLink class="nav-link" href="aboutme">
                <span class="menu-icon lnr lnr-user"></span>
                <span class="link-text">About Me</span>
            </NavLink>
    </li>
    <li>
            <NavLink class="nav-link" href="resume">
                <span class="menu-icon lnr lnr-graduation-hat"></span>
                <span class="link-text">Resume</span>
            </NavLink>
    </li>
    <li>
            <NavLink class="nav-link" href="portfolio">
                <span class="menu-icon lnr lnr-briefcase"></span>
                <span class="link-text">Portfolio</span>
            </NavLink>
    </li>
    <li>
            <NavLink class="nav-link" href="contact">
                <span class="menu-icon lnr lnr-envelope"></span>
                <span class="link-text">Contact</span>
            </NavLink>
    </li>
</ul>

@code {

}
